.Menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;

    position: absolute;
    width: 453px;
    height: 23px;
    left: 500px;
    top: 49px;
}

.link{

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 1;
}